dbz-engine/target/
*.o
*.so
testenv/olr/oradata/
testenv/olr/checkpoint/
testenv/olr/olrswap/
src/test/pytests/synchdbtests/__pycache__/
src/test/pytests/synchdbtests/t/__pycache__/
src/backend/debezium/target/
synchdb_testdir/
