name: docs-ci
on:
  push:
    branches:
      - synchdb-devel
    paths:
      - 'doc/**'
      - '.github/workflows/docs-ci.yml'
  pull_request:
    branches:
      - synchdb-devel
    paths:
      - 'doc/**'

jobs:
  deploy-doc:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install dependencies
        working-directory: doc
        run: |
          pip install -r requirements.txt
      - name: Configure Git
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Add docs remote repo
        run: |
          git remote add docsite https://x-access-token:${{ secrets.DOCS_PUSH_TOKEN }}@github.com/caryhuang/synchdb-docs.git
      - name: Deploy documentation
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mike --debug deploy --push --config-file mkdocs-doc.yml --remote docsite --branch test 1.3
          mike --debug deploy --update-aliases --config-file mkdocs-doc.yml --remote docsite --branch test 1.3 latest
          mike --debug set-default --config-file mkdocs-doc.yml --remote docsite --branch test latest
          #mkdocs build
